@import "../../style/variables.scss";

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 100px);
  margin-top: 50px;

  &__image {
    grid-column: 1 / 7;
    grid-row: 1/6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    grid-column: 8/13;
    grid-row: 1/2;
    background-color: saddlebrown;
  }

  &__description {
    grid-column: 6/12;
    grid-row: 2/4;
    background-color: $darkOpacity;
    padding: 15px;
  }

  &__technologies {
    grid-column: 7/10;
    grid-row: 4/5;
    background-color: skyblue;
  }

  &__links {
    grid-column: 10/13;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.project-flip {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 100px);
  margin-top: 50px;

  &__image {
    grid-column: 7 / 13;
    grid-row: 1/6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: saddlebrown;
  }

  &__description {
    grid-column: 2/8;
    grid-row: 2/4;
    background-color: $darkOpacity;
    padding: 15px;
  }

  &__technologies {
    grid-column: 4/7;
    grid-row: 4/5;
    background-color: skyblue;
  }

  &__links {
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  margin-left: 10%;
}
