@import "../../style/variables.scss";

.hero {
  height: 100vh;
  background-color: $dark;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__button {
    margin-top: 30px;
  }
}
