.about {
  &__text {
    width: 800px;
  }

  &__skills {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .about {
    &__skills {
      width: 100%;
    }
  }
}
