@import "../../style/variables.scss";

.navigation {
  background-color: $dark;
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid $primary;

  &__social {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-top: 25px;
  }
}

@media (max-width: 900px) {
  .navigation {
    width: 100vw;
    height: 60px;
    flex-direction: row;
    border-right: none;
    border-top: 1px solid $primary;
    justify-content: space-around;

    &__social {
      display: none;
    }

    &__main {
      width: 70%;
      flex-direction: row;
      justify-content: space-around;
    }

    &__icon {
      margin-top: 0;
    }
  }
}
