@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

.highlight-text {
  color: $primary;
}

.heading {
  color: $white;
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
}

.text {
  color: $white;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

.inner-container {
  height: 100%;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
}

.section {
  height: 100vh;
  background-color: $dark;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
